<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33675485327-ksqdbg100nvh6p49kfb35iphko2bbfbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33675485327-ksqdbg100nvh6p49kfb35iphko2bbfbn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>33675485327-pib8kh61p0s43fsm5u5kk0tovupgqp45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC38lMLJsaaMpuO-fn3YASRqIG-hhKVOMc</string>
	<key>GCM_SENDER_ID</key>
	<string>33675485327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.shop</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-e06ae</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-e06ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33675485327:ios:05186ddf5e2bb9d41510fa</string>
</dict>
</plist>